<div class="media {{ settings.itemCssClass }}" data-key="{{ key }}">
    <a class="pull-left" href="#">
        <img class="media-object"  alt="{{ sender.name }}" style="width: 32px; height: 32px;" src="{{ settings.baseUrl }}/img/avatars/{{ sender.avatar }}"/>
    </a>
    <div class="media-body">
        <small class="pull-right time"><i class="fa fa-clock-o"></i> {{ model.date }}</small>
        <h5 class="media-heading">{{ sender.name }}</h5>
        <small class="col-lg-10">{{ model.text|raw }}</small>
    </div>
</div>